rules_version = '2';
service cloud.firestore {
match /databases/{db}/documents {
function isAuthed(){ return request.auth != null; }
match /recipes/{id} {
allow create: if isAuthed() && request.resource.data.createdBy == request.auth.uid;
allow read, update, delete: if isAuthed() && resource.data.createdBy == request.auth.uid;
}
}
}